.nav {
  background-color: #7d0e29;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 20px;
  position: relative; /* Add this for dropdown positioning */
}

.navLink {
  color: #dba2a2;
  text-decoration: none;
  padding: 8px 15px;
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: #ffffff;
}

/* Dropdown styles */
.dropdown {
  display: none;
  position: absolute;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  top: 100%; /* Position it below the link */
  left: 0;
  z-index: 1;
  white-space: nowrap; /* Prevent text from wrapping */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navItem:hover .dropdown {
  display: block;
  background-color: #7d0e29;
}

.dropdownLink {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  background-color: #7d0e29;
}

.dropdownLink:hover {
  background-color: #7d0e29;
  text-decoration: underline;
}
